* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.justify-content-changeable {
  justify-content: space-between; }

.container {
  display: grid;
  grid-template-areas: "header header header header" "servicos servicos servicos servicos"; }

.header {
  grid-area: header; }

.servicos {
  grid-area: servicos;
  flex-direction: column; }

.header {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: #B98AAA; }

.header #header-cover {
  position: absolute;
  top: 55%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.7s ease-in-out;
  filter: drop-shadow(-12px 11px 15px #0000009e); }

.box-transparent-mobile-default {
  transition: all 0.7s ease-in-out;
  background-color: #532D47;
  opacity: 0;
  position: absolute;
  width: 0%;
  height: 100vh;
  z-index: 6; }

.box-transparent-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 6;
  opacity: 0.9;
  background-color: #532D47; }

.nav-header {
  position: relative;
  z-index: 6; }

.nav-header ul li {
  list-style: none; }

.primary-menu {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  padding: 15px;
  transition: 1s ease-in;
  z-index: 20;
  left: 0px;
  text-align: center; }

.primary-menu-control {
  left: -220px; }

.nav-header ul.primary-menu li {
  margin-bottom: 12px;
  position: relative; }

.nav-header ul.primary-menu li a {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
  font-size: 1.6em;
  color: #090C0D; }

ul.primary-menu li a::after {
  content: '';
  width: 0%; }

ul.primary-menu li a:hover::after {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #090C0D;
  z-index: 20;
  transition: all 1s; }

.nav-header .logo {
  position: relative;
  z-index: 8;
  margin-left: 20px;
  margin-top: 20px;
  flex-grow: 2;
  width: 100px;
  min-width: 100px;
  height: 30px;
  min-height: 30px;
  max-width: 105px; }

.nav-primary-button {
  position: relative;
  flex-direction: column;
  width: 40px;
  height: 25px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer; }

.nav-primary-button li {
  position: relative;
  width: 100%;
  height: 5px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out; }

.nav-primary-animation li:nth-child(1) {
  animation: hamburguerAnimation1 1s forwards; }

.nav-primary-animation li:nth-child(2) {
  animation: hamburguerAnimation2 1s forwards; }

.nav-primary-animation li:nth-child(3) {
  animation: hamburguerAnimation3 1s forwards; }

@keyframes hamburguerAnimation1 {
  0% {
    transform: rotate(0deg);
    top: 0px; }
  100% {
    transform: rotate(40deg);
    top: 10px; } }
@keyframes hamburguerAnimation2 {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }
@keyframes hamburguerAnimation3 {
  0% {
    transform: rotate(0deg);
    bottom: 0px; }
  100% {
    transform: rotate(-40deg);
    bottom: 10px; } }
.section-info {
  position: relative;
  z-index: 4;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
  margin-top: 80px;
  transition: all 0.7s ease-in-out; }

.section-info h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #A4307F;
  color: #ffe3ae; }

.section-info p {
  font-family: Arial, sans-serif;
  margin: 12px 0;
  max-width: 85%;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px #000; }

.section-info button {
  background-color: #b7778f;
  color: #FFF;
  font-size: 1em;
  margin-top: 5px;
  border: none;
  padding: 6px 20px;
  font-family: arial; }

@media only screen and (min-width: 768px) {
  .servicos {
    flex-direction: row;
    justify-content: center; } }
@media only screen and (min-width: 768px) {
  .header #header-cover {
    left: 70%; }

  .nav-header {
    margin-left: 9%;
    margin-right: 9%; }

  .nav-header ul.primary-menu {
    flex-grow: 0; }

  .nav-header .logo {
    position: relative;
    z-index: 8;
    margin-left: 0px;
    margin-top: 0px;
    flex-grow: 2;
    width: 100px;
    min-width: 100px;
    height: 30px;
    min-height: 30px;
    max-width: 105px; }

  .primary-menu-control {
    left: 0px; }

  .justify-content-changeable {
    justify-content: space-evenly; }

  .primary-menu {
    position: relative;
    background-color: transparent;
    top: 10px;
    height: 60px;
    padding: 0px;
    transition: 1s ease-in;
    z-index: 10;
    margin-top: 10px; }

  .primary-menu li {
    display: inline; }

  .primary-menu li:not(:last-child) {
    margin-right: 6px; }

  .nav-header ul.primary-menu li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: #fff; }

  nav.nav-header {
    align-items: center;
    margin-top: 0px; }

  ul.primary-menu li a::after {
    content: '';
    width: 0%; }

  ul.primary-menu li a:hover::after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    z-index: 20;
    transition: all 1s;
    bottom: -5px; }

  .nav-primary-button {
    visibility: hidden;
    margin-top: 0px; }

  .section-info {
    margin-left: 10%;
    margin-right: 0px; }

  .section-info h2 {
    font-size: 32px; }

  .section-info p {
    max-width: 450px; }

  .section-info button {
    background-color: #b7778f;
    color: #FFF;
    font-size: 1em;
    margin-top: 5px;
    border: none;
    padding: 6px 20px;
    font-family: arial; } }

/*# sourceMappingURL=style.css.map */
