.header{
    height: 420px;
    position: relative;
    overflow: hidden;
    background-image: $background-header-color;
}

// imagem do cabeçalho
.header #header-cover{
    position: absolute;
    top: 53%;  
    left: 83%;  
    -webkit-transform: translate(-50%,-50%);  
    -moz-transform: translate(-50%,-50%);  
    -ms-transform: translate(-50%,-50%);  
    -o-transform: translate(-50%,-50%);  
    transform: translate(-50%,-50%); 
    z-index: 2;
    transition: all 0.7s ease-in-out;
    filter: drop-shadow(0px 1px 41px #ffdbf7);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

// box transparent 
.box-transparent-mobile-default{
    transition: all 0.7s ease-in-out;
    background-color: $box-transparent-mobile;
    opacity: 0;
    position: absolute;
    width: 0%;
    height: 100vh;
    z-index: 6;
}
.box-transparent-mobile{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 6;
    opacity: 0.9;
    background-color: $box-transparent-mobile;
}
// nav principal
.nav-header{
    position: relative;
    z-index: 6;
}

// os estilos aqui abaixo afetam todas as listas dentro da nav principal
.nav-header ul li{
    list-style: none;
}

// os estilos aqui abaixo afetam a nossa ul principal
.primary-menu{
    position: fixed;
    background-color: $background-secondary-color;
    height: 100vh;
    padding: 15px;
    transition: 1s ease-in;
    z-index: 20;
    left: 0px;
    text-align: center;
}
.primary-menu-control{
    left: -220px;
}

.nav-header ul.primary-menu li{
    margin-bottom: 12px;
    position: relative;
}

.nav-header ul.primary-menu li a{
    font-family: 'Old Standard TT', serif;
    text-decoration: none;
    list-style: none;
    font-size: 1.6em;
    color: $linkMenu-color-mobile;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-header ul.primary-menu li a:hover, .nav-header ul.primary-menu li a:focus, .nav-header ul.primary-menu li a:active{
    color: #b92e9d;
}

// os estilos aqui abaixo afetam o comportamento da logo principal
.nav-header .logo{
    position: relative;
    z-index: 8;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 140px;
    height: 35px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.nav-header .logo source, .nav-header .logo img{
    max-width: 100%;
    max-height: 100%;
}
// os estilos aqui abaixo afetam o comportamento do botao hamburguer
.nav-primary-button{
    position: relative;
    flex-direction: column;
    width: 40px;
    height: 25px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.nav-primary-button:hover li {
    background: #ffc8f9;
}

.nav-primary-button li{
    position: relative;
    width: 100%;
    height:5px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.nav-primary-animation li:nth-child(1){
    animation: hamburguerAnimation1 1s forwards;
}

.nav-primary-animation li:nth-child(2){
    animation: hamburguerAnimation2 1s forwards;
}

.nav-primary-animation li:nth-child(3){
    animation: hamburguerAnimation3 1s forwards;
}

@keyframes hamburguerAnimation1 {
    0%   { transform: rotate(0deg);  top:0px;}
    100% {  transform: rotate(40deg); top:10px;}
}

@keyframes hamburguerAnimation2 {
    0%   { width: 100%; }
    100% {  width: 0%; }
}

@keyframes hamburguerAnimation3 {
    0%   { transform: rotate(0deg); bottom: 0px;}
    100% {  transform: rotate(-40deg); bottom: 10px;}
}

// os estilos aqui controlam o comportamento da section de informação
.section-info{
    position: relative;
    z-index: 4;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: 80px;
    transition: all 0.7s ease-in-out;
}
.section-info h2{
    text-transform: uppercase;
    text-shadow: 1px 1px #e6a5dc;
    color: #4f1e48;
    font-size: 1.4em;
}
.section-info p{
    margin: 12px 0;
    max-width: 80%;
    color: #4f1e48;
    font-size: 16px;
    font-weight: 600;
}
.section-info button{
    background-color: #4f1e48;
    color: #FFF;
    font-size: 1em;
    margin-top: 5px;
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.section-info button:hover, .section-info button:focus{
    background-color: #8e4884; 
}
 .section-info button:active{
    background-color: #642b5c;
}
// Os estilos aqui afetam a section "servicos"