.header{
    height: 450px;
    position: relative;
    overflow: hidden;
}

// imagem do cabeçalho
.header #header-cover{
    position: absolute;
    min-width: 100%;
    top: 50%;  
    left: 50%;  
    -webkit-transform: translate(-50%,-50%);  
    -moz-transform: translate(-50%,-50%);  
    -ms-transform: translate(-50%,-50%);  
    -o-transform: translate(-50%,-50%);  
    transform: translate(-50%,-50%); 
    z-index: 2;
    transition: all 0.7s ease-in-out;
}

.header-cover-image-effetcs, .header-section-effects{
    filter: blur(4px);
    opacity: 0.9;
}
// nav principal
.nav-header{
    position: relative;
    z-index: 4;
    margin-top:20px;
}

// os estilos aqui abaixo afetam todas as listas dentro da nav principal
.nav-header ul li{
    list-style: none;
}

// os estilos aqui abaixo afetam a nossa ul principal
.primary-menu{
    position: absolute;
    background-color: $background-secondary-color;
    top:-20px;
    height: 100vh;
    padding: 15px;
    transition: 1s ease-in;
    z-index: 10;
    left: 0px;
    text-align: center;
}
.primary-menu-control{
    left: -220px;
}

.nav-header ul.primary-menu li{
    margin-bottom: 12px;
    position: relative;
}

.nav-header ul.primary-menu li a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    font-size: 2.2em;
    color: $text-colors-primary;
}

ul.primary-menu li a::after{
    content:'';
    width: 0%;
}
ul.primary-menu li a:hover::after{
    content:'';
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $text-colors-primary;
    z-index: 20;
    transition: all 1s;
}

// os estilos aqui abaixo afetam o comportamento da logo principal
.header .logo{
    position: relative;
    z-index: 8;
    margin-left: 20px;
}
.nav-header .logo{
    flex-grow: 2;
    width: 100px;
    min-width: 100px;
    height: 30px;
    min-height: 30px;
    max-width: 105px;
}

// os estilos aqui abaixo afetam o comportamento do botao hamburguer
.nav-primary-button{
    position: relative;
    flex-direction: column;
    width: 40px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.nav-primary-button li{
    position: relative;
    width: 100%;
    height:5px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.nav-primary-animation li:nth-child(1){
    animation: hamburguerAnimation1 1s forwards;
}

.nav-primary-animation li:nth-child(2){
    animation: hamburguerAnimation2 1s forwards;
}

.nav-primary-animation li:nth-child(3){
    animation: hamburguerAnimation3 1s forwards;
}

@keyframes hamburguerAnimation1 {
    0%   { transform: rotate(0deg);  top:0px;}
    100% {  transform: rotate(40deg); top:10px;}
}

@keyframes hamburguerAnimation2 {
    0%   { width: 100%; }
    100% {  width: 0%; }
}

@keyframes hamburguerAnimation3 {
    0%   { transform: rotate(0deg); bottom: 0px;}
    100% {  transform: rotate(-40deg); bottom: 10px;}
}

// os estilos aqui controlam o comportamento da section de informação
.section-info{
    position: relative;
    z-index: 3;
    margin-left: 30px;
    margin-top: 80px;
    transition: all 0.7s ease-in-out;
}
.section-info p{
    width: 350px;
    margin: 12px 0;
    color:$text-colors-secondary;
    font-size: 1em;
}
.section-info button{
    background-color: #fff;
    color: $icons-color;
    font-size: 1.1em;
    border: none;
    padding: 4px 10px;
    border-radius: 3px;
}