*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// Paleta de cores
$background-header-color: #B98AAA;  // cor de fundo principal do header.
$background-secondary-color: #fff; // cor secundaria de fundo.
$text-colors-primary: #090C0D; // usado para os textos em fundo branco.
$text-colors-secondary: #fff; // usado para definir a cor do texto em fundo rose.
$icons-color: #AC5B92; // usado para definir cores de icones em fundo branco.
$box-transparent-mobile: #532D47; // usado para definir a cor de fundo da box que abre ao abrir o menu mobile.

// _LayoutMobile.scss apresenta estilos que compoem o layout mobile.
@import '_LayoutMobile.scss';

// headerMobile.scss apresenta estilos da header para mobile.
@import '_HeaderMobile.scss'; 

// _LayoutDesktop.scss apresenta estilos que compoem o layout desktop.
@import '_LayoutDesktop.scss';

// headerDesktop.scss apresenta estilos da header para desktop.
@import '_HeaderDesktop.scss';